@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@layer components {
  .navBtn {
    @apply hidden md:inline-flex h-7 cursor-pointer hover:scale-125 ease-in duration-150
  }

  .btn {
    @apply h-7 ease-in-out duration-150 cursor-pointer hover:scale-110 hover:text-gray-500
  }

  .show-more-btn {
    @apply text-gray-500 font-bold border-none bg-transparent outline-none cursor-pointer
  }
}
